<div class="social-share">
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://distincta.eu<%- n.url %>&t=<%- n.title %>"
       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
       target="_blank" title="<%- labels.fb_label %>">
       <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a href="https://x.com/share?url=https://distincta.eu<%- n.url %>&via=TWITTER_HANDLE&text=<%- n.title %>"
       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
       target="_blank" title="<%- labels.x_label %>">
       <i class="fa fa-twitter" aria-hidden="true"></i>

    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://distincta.eu<%- n.url %>"
       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
       target="_blank" title="<%- labels.lin_label %>">
       <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
</div>

