<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-12 contact-details scrollpoint sp-effect5">
        <div class="media">
          <span class="pull-left">
            <i class="fa fa-map-marker fa-2x"></i>
          </span>
          <div class="media-body">
            <h4 class="media-heading"><%- address %></h4>
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="mailto:<%- email %>" >
            <i class="fa fa-envelope fa-2x"></i>
          </a>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="mailto:<%- email %>"><%- email %></a>
            </h4>
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="tel:<%- phone %>" >
            <i class="fa fa-phone fa-2x"></i>
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="tel:<%- phone %>"><%- phone %></a></h4>
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="fax:<%- fax %>" >
            <i class="fa fa-fax fa-2x"></i>
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="fax:<%- fax %>"><%- fax %></a></h4>
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="tel:<%- mobile %>" >
            <i class="fa fa-mobile fa-2x"></i>
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="tel:<%- mobile %>"><%- mobile %></a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
