<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-12 contact-details scrollpoint sp-effect5">
        <div class="media">
          <span class="pull-left">
            <i class="fa fa-map-marker fa-2x"></i>
          </span>
          <div class="media-body">
            <div class="media-heading"><%- address %></div>
          </div>
        </div>
        <div class="media">
            <a aria-label="<%- email_label %>" title="<%- email_label %>" class="pull-left" href="mailto:<%- email %>" >
            <i class="fa fa-envelope fa-2x"></i>
          </a>
          <div class="media-body">
            <div class="media-heading">
              <a aria-label="<%- email_label %>" title="<%- email_label %>" href="mailto:<%- email %>"><%- email %></a>
            </div>
          </div>
        </div>
        <div class="media">
          <a aria-label="<%- phone_label %>" title="<%- phone_label %>" class="pull-left" href="tel:<%- phone %>" >
            <i class="fa fa-phone fa-2x"></i>
          </a>
          <div class="media-body">
            <div class="media-heading"><a aria-label="<%- phone_label %>" title="<%- phone_label %>" href="tel:<%- phone %>"><%- phone %></a></div>
          </div>
        </div>
        <div class="media">
          <a aria-label="<%- fax_label %>" title="<%- fax_label %>" class="pull-left" href="fax:<%- fax %>" >
            <i class="fa fa-fax fa-2x"></i>
          </a>
          <div class="media-body">
            <div class="media-heading"><a aria-label="<%- fax_label %>" title="<%- fax_label %>" href="fax:<%- fax %>"><%- fax %></a></div>
          </div>
        </div>
        <div class="media">
          <a aria-label="<%- mobile_label %>" title="<%- mobile_label %>" class="pull-left" href="tel:<%- mobile %>" >
            <i class="fa fa-mobile fa-2x"></i>
          </a>
          <div class="media-body">
            <div class="media-heading"><a aria-label="<%- mobile_label %>" title="<%- mobile_label %>" href="tel:<%- mobile %>"><%- mobile %></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
